:root {
  /* fonts */
  --main-font: 'Roboto';
  --secondary-font: 'Raleway';
  /* color-text */
  --accent-clr: #2196f3;
  --secondary-clr: #757575;
  --white-clr: #ffffff;
  --basic-clr: #212121;
  /* backgroud color */
  --basic-background: #ffffff;
  --secondary-background: #2f303a;
}
/* other */
body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--basic-clr);
  background-color: var(--basic-background);
}
/* reset */
h1, h2, h3, h4, p, ul{
  margin:0;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}
/* Styles start*/

.container{
  width:1200px;
  padding-left:15px;
  padding-right:15px;
  margin-left:auto;
  margin-right:auto;
  outline: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
/* Styles end */

/* header */
.header-container{
  display: flex;
  align-items: center;
}

/* logo */
.footer > .logo {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-clr);
}
.logo {
  display: flex;
  margin-right: 120px;
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}
/* navigation */
.logo-web {
  color: var(--accent-clr);
}
.curent {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right:40px;
  font-weight: 500;
  color: var(--accent-clr);
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.02em;
}

.site-nav-list{
  display: flex;
}

.site-nav-link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right:40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.02em;
  color: var(--basic-clr);

  
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-clr);
}
/* contacts */
.contacts-list{
  display: flex;
  margin-left: auto;
}


.contacts-link{
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left:50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.02em;
  color: var(--secondary-clr);
 
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-clr);
}
/* Hero */
.hero {
  background-color: var(--secondary-background);
}
.hero-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-clr);
}
/* button*/
.hero-button {
  border: none;
  cursor: pointer;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-family: inherit;
}

.hero-button:hover,
.hero-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* Feature */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feature-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--basic-clr);
}
.feature-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-clr);
}

/* work and tean title */
.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/* team */
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-member-prof {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-clr);
}
/* footer */
.footer {
  background-color: var(--secondary-background);
}
.address {
  font-style: normal;
}
.link-address {
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-clr);
}
.address-list-item {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.address-list-item:hover,
.address-list-item:focus {
  color: var(--accent-clr);
}

/* Portfolio */

/* portfolio filters */
.filter-button {
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background-color: #f5f4fa;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-clr);
  color: var(--white-clr);
}
.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-clr);
}
